In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
web_stats = {
    'Day':[1,2,3,4,5,6],
    'Visitors':[45,78,23,67,34,90],
    'BounceRates':[66,34,68,23,56,78]
}

In [4]:
df = pd.DataFrame(web_stats)

In [5]:
df.head()

   Day  Visitors  BounceRates
0    1        45           66
1    2        78           34
2    3        23           68
3    4        67           23
4    5        34           56

In [6]:
df.tail()

   Day  Visitors  BounceRates
1    2        78           34
2    3        23           68
3    4        67           23
4    5        34           56
5    6        90           78

In [8]:
print(df)

   Day  Visitors  BounceRates
0    1        45           66
1    2        78           34
2    3        23           68
3    4        67           23
4    5        34           56
5    6        90           78

In [11]:
df.set_index('Day',inplace=True)

In [13]:
print(df)

     Visitors  BounceRates
Day
1          45           66
2          78           34
3          23           68
4          67           23
5          34           56
6          90           78

In [14]:
print(df['Visitors'])

Day
1    45
2    78
3    23
4    67
5    34
6    90
Name: Visitors, dtype: int64

In [17]:
print(df[['Visitors','BounceRates']])

     Visitors  BounceRates
Day
1          45           66
2          78           34
3          23           68
4          67           23
5          34           56
6          90           78

In [20]:
print(df.Visitors.to_list())

[45, 78, 23, 67, 34, 90]

In [21]:
import numpy as np

In [23]:
print(np.array(df[['Visitors','BounceRates']]))

[[45 66]
 [78 34]
 [23 68]
 [67 23]
 [34 56]
 [90 78]]

In [24]:
df2 = pd.DataFrame(np.array(df[['Visitors','BounceRates']]))

In [25]:
df2

    0   1
0  45  66
1  78  34
2  23  68
3  67  23
4  34  56
5  90  78